form {
  display: grid;
  gap: var(--gutter);
  width: var(--form-width);
}

fieldset {
  border: 0;
}

fieldset legend {
  margin-bottom: var(--spacing);
  font-size: var(--font-size-legend);
}

fieldset div {
  width: 100%;
  margin-bottom: var(--spacing-double);
}

fieldset div label {
  display: block;
}

fieldset input,
fieldset select,
fieldset textarea {
  width: 100%;
  padding: var(--spacing);
  background-color: var(--color-input-background);
  border: var(--border-width) solid var(--color-border);
}

fieldset input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: var(--spacing);
}

@media (width >= 700px) {
  form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
  }

  .form-ferd {
    grid-row: 1;
    grid-column: 1;
  }

  .form-dagsetning {
    grid-row: 1;
    grid-column: 2;
  }

  .form-hopur {
    grid-row: 2;
    grid-column: 1;
  }

  .form-tengiliour {
    grid-row: 2;
    grid-column: 2;
  }

  .form-boka {
    grid-row: 3;
    grid-column: 1 / -1;
  }
}
