form {
  display: grid;
  gap: var(--gutter);
  width: var(--form-width);
}

fieldset {
  border: 0;
}

fieldset legend {
  margin-bottom: var(--spacing);
  font-size: var(--font-size-legend);
}

fieldset div {
  width: 100%;
  margin-bottom: var(--spacing-double);
}

fieldset div label {
  display: block;
}

fieldset input,
fieldset select,
fieldset textarea {
  width: 100%;
  padding: var(--spacing);
  background-color: var(--color-input-background);
  border: var(--border-width) solid var(--color-border);
}

fieldset input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: var(--spacing);
}

@media (width >= 700px) {
  form {
    width: 50%;
  }

  form fieldset:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter);
  }

  form fieldset:nth-child(2) legend {
    grid-column: 1 / -1;
  }
}
